{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static  'accounts/main.css' %}">
    
</head>
<body>
    <div class="container">
         <form class="row">
                <div class="form-row col-lg-4 col-sm-10">
                    <div class="login_header">
                        <img src="logo.png" class="login_header_img" /> 
                    </div>
                    <div class="row">
                        <div class="col-md-12 inp_div" >
                            <div class="input_Container">
                                    <input class="effect-2" type="text" placeholder="Email">
                                    <span class="focus-border"></span>
                            </div>
                        </div>
                        <div class="col-md-12 inp_div" >
                            <div class="input_Container" >  
                                    <input class="effect-2" type="password" placeholder="Password">
                                    <span class="focus-border"></span>
                            </div>
                        </div>
                    </div>
                   <button type="button" class="btn btn-primary login_button" id="login_button">GET STARTED</button>
                   <div class="row additional_links">
                        <div class="col-lg-6">
                             <a href="#" class="stretched-link">Forget Password?</a>
                        </div>
                        <div class="col-lg-6">
                             <a href="#" class="stretched-link">Create Account</a>
                        </div>
                    </div>
                </div>   
                 
        </form>
    </div>
    <script src="{% static 'accounts/index.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>